<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>4956653075084733</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>1280</width>
        <height>1024</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="437251474388935">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BtnPlay" uid="80">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Button>0</Button>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>644</x>
                        <y>351</y>
                        <z>0</z>
                        <width>454.946136475</width>
                        <height>124.568588257</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.507246375</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BtnPlay" uid="81">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Button>1</Button>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>648</x>
                        <y>539</y>
                        <z>0</z>
                        <width>452.64440918</width>
                        <height>123.938346863</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.507246375</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="82">
                    <properties>
                        <text>Play</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-64,400,0</font>
                        <color>255,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>573</x>
                        <y>311</y>
                        <z>0</z>
                        <width>203</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="83">
                    <properties>
                        <text>Help</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-64,400,0</font>
                        <color>255,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>573</x>
                        <y>501</y>
                        <z>0</z>
                        <width>144</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Help 1" sid="3983451593231649">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="MJ" uid="84">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Stay</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Activo>false</Activo>
                        <Vida>2</Vida>
                        <Finish>false</Finish>
                        <Lado>0</Lado>
                        <Estado>0</Estado>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Platform">
                            <properties>
                                <max-speed>330</max-speed>
                                <acceleration>1500</acceleration>
                                <deceleration>1500</deceleration>
                                <jump-strength>1150</jump-strength>
                                <gravity>1500</gravity>
                                <max-fall-speed>1000</max-fall-speed>
                                <default-controls>No</default-controls>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="LineOfSight">
                            <properties>
                                <obstacles>Solids</obstacles>
                                <range>3000</range>
                                <cone-of-view>10</cone-of-view>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pathfinding">
                            <properties>
                                <cell-size>20</cell-size>
                                <cell-border>1</cell-border>
                                <obstacles>Solids</obstacles>
                                <max-speed>500</max-speed>
                                <acceleration>1000</acceleration>
                                <deceleration>2000</deceleration>
                                <rotate-speed>135</rotate-speed>
                                <rotate-object>No</rotate-object>
                                <diagonals>Disabled</diagonals>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>132</x>
                        <y>130</y>
                        <z>0</z>
                        <width>64</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.508474588</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PD" uid="85">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Activo>false</Activo>
                        <Lado>0</Lado>
                        <Finish>false</Finish>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Platform">
                            <properties>
                                <max-speed>330</max-speed>
                                <acceleration>1500</acceleration>
                                <deceleration>1500</deceleration>
                                <jump-strength>650</jump-strength>
                                <gravity>1500</gravity>
                                <max-fall-speed>1000</max-fall-speed>
                                <default-controls>No</default-controls>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>133</x>
                        <y>438</y>
                        <z>0</z>
                        <width>64</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="DL" uid="86">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Activo>false</Activo>
                        <Vida>2</Vida>
                        <Finish>false</Finish>
                        <Press>false</Press>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Platform">
                            <properties>
                                <max-speed>330</max-speed>
                                <acceleration>1500</acceleration>
                                <deceleration>1500</deceleration>
                                <jump-strength>1</jump-strength>
                                <gravity>1500</gravity>
                                <max-fall-speed>1000</max-fall-speed>
                                <default-controls>No</default-controls>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>134</x>
                        <y>716</y>
                        <z>0</z>
                        <width>64</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.506849289</hotspotX>
                        <hotspotY>0.506849289</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="87">
                    <properties>
                        <text>Pro: Es liviano por lo que puede saltar alto.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>207</x>
                        <y>121</y>
                        <z>0</z>
                        <width>755</width>
                        <height>53</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="88">
                    <properties>
                        <text>Contra: Intentara morder a cualquiera que se interponga en su camino.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>210</x>
                        <y>171</y>
                        <z>0</z>
                        <width>860</width>
                        <height>101</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="89">
                    <properties>
                        <text>Pro: Sus disparos presionan botones.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>214</x>
                        <y>421</y>
                        <z>0</z>
                        <width>644</width>
                        <height>53</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="90">
                    <properties>
                        <text>Contra: Sus disparos pueden dañar aliados.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>215</x>
                        <y>480</y>
                        <z>0</z>
                        <width>989</width>
                        <height>53</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="91">
                    <properties>
                        <text>Policia Demente: Por culpa de su demencia este policia se encuentra disparando continuamente su arma reglamentaria.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>211</x>
                        <y>319</y>
                        <z>0</z>
                        <width>1003</width>
                        <height>108</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="92">
                    <properties>
                        <text>Michael Rabioso: Su rabia lo mantiene en constante alerta salvo cuando es controlado.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>208</x>
                        <y>20</y>
                        <z>0</z>
                        <width>1003</width>
                        <height>108</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="93">
                    <properties>
                        <text>Pro: Su fuerza le permite mover cajas y su peso le permite presionar botones.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>210</x>
                        <y>722</y>
                        <z>0</z>
                        <width>990</width>
                        <height>100</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="94">
                    <properties>
                        <text>Contra: Su peso no le permite saltar.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>208</x>
                        <y>816</y>
                        <z>0</z>
                        <width>989</width>
                        <height>53</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="95">
                    <properties>
                        <text>Demoledor Latino: Este individuo eliminara a cualquiera que se interponga en su camino.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>207</x>
                        <y>620</y>
                        <z>0</z>
                        <width>1003</width>
                        <height>108</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Help" uid="96">
                    <properties>
                        <text>Presione Esc para volver.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>428</x>
                        <y>953</y>
                        <z>0</z>
                        <width>442</width>
                        <height>53</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
